@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata');
 @import url('https://fonts.googleapis.com/css?family=Prata');

$font-head: 'Prata', serif;
$font-standard: 'Open Sans', sans-serif;


$brand-primary: #ddc719 !default;
$brand-secondary: #1fb5f6 !default; 
$brand-black: #2a3b2e;
$brand-darkgreen: #096252;
$brand-grey: #848587;
$brand-light-grey: #F5F7F7;
$brand-white: #fff;


/*MIXins*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}


body {
  padding: 0px;
  margin: 0px; }


  a {
	color: $brand-primary;
	&:hover{
		text-decoration: none !important;
		color: $brand-primary !important;
	}
}
p {
	margin-bottom: 1.5em;
	font-size: 20px;
	font-weight: 300;
	font-family: $font-standard;
	color: $brand-black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-head;
	margin: 10px 0 30px 0;
	color: $brand-darkgreen;
}

span{
	font-family: $font-standard;
	color: $brand-grey;
	margin: 0 0 20px 0;
	text-transform: uppercase;

}


.btn {
	@include transition(.3s);
}

.btn {
	text-transform: uppercase;
	letter-spacing: 2px;
	@include transition(.3s);
	&.btn-primary {
		background: $brand-primary;
		color: $brand-white;
		border: none!important;
		border: 2px solid transparent!important;
		&:hover, &:active, &:focus {
			box-shadow: none;
			background: $brand-primary;
			color: $brand-white!important;
		}
	}
	&:hover, &:active, &:focus {
		background: $brand-darkgreen;
		color: $brand-white;
		outline: none!important;
	}
	&.btn-default {
		&:hover, &:focus, &:active {
			border-color: transparent;
		}
	}
}


section{
   height: 100vh;
	width: 100vw;
	content: 'viewport-units-buggyfill; height:100vh; width:100vw';
	display: table;
	position: relative;
	margin-bottom: 0;

	
}

.section1{
	margin-top: 10%;
}


.thefigure{

	height: 500px;
	background: transparent url(../img/bg1.png) 0 0 no-repeat;
	width: 500px;

}




.backbg{

	width: 500px;
	height: 500px;
	position: absolute;
	background: transparent url(../img/naturbg.png) 0 0 no-repeat;
	z-index: 1;
}

.cloud1{

	width: 500px;
	height: 500px;
	position: absolute;
	background: transparent url(../img/cloud2.png) 0 0 no-repeat;
	z-index: 1;
	animation: drift 20s linear infinite backwards;

}


.cloud2{

	width: 500px;
	height: 500px;
	position: absolute;
	background: transparent url(../img/cloud1.png) 0 0 no-repeat;
	z-index: 1;
	animation: driftslow 60s linear infinite backwards;

}

.orange{

	width: 500px;
	height: 500px;
	position: absolute;
	background: transparent url(../img/orangepin.png) 0 0 no-repeat;
	z-index: 1;
	animation:jump 2s ease infinite backwards;

}


.frontbg{
	width: 500px;
	height: 500px;
	position: absolute;
	background: transparent url(../img/frontbg.png) 0 0 no-repeat;
	z-index: 1;

}


@keyframes drift{
	from{transform:translateX(-50px);}
	to{transform:translateX(150px);}
}

@keyframes driftslow{
	from{transform:translateX(0px);}
	to{transform:translateX(350px);}
}


@keyframes jump{
	0% {
	transform: translateY(0px);
	animation-timing-function: ease-out;
	}

	50% {
	transform: translateY(30px);
	animation-timing-function: ease-in;
	}

	80% {
	transform: translateY(20px);
	animation-timing-function: ease-out;
	}


	100% {
	transform: translateY(0px);
	animation-timing-function: ease-in;
	}
}


/* BUTTERFLY*/



.thefigure2{
	height: 500px;
	width: 500px;

}

.butterfly {
   height: 500px;
	width: 500px;
    z-index: 555;
    margin-top: 20%;
}


.leftwing {
	position: absolute;
	 z-index: 1;
    animation: flap-l 4s cubic-bezier(.08,1.47,.65,-.68) infinite
}

.rightwing {
position: absolute;
z-index: 1;
animation: flap-r 4s cubic-bezier(.08,1.47,.65,-.68) infinite
}



.bodybutter{
	  position: absolute;	
	  z-index: 1;
	  animation: bodyform 4s cubic-bezier(.08,1.47,.65,-.68) infinite

}

.glass{
    z-index: 4;
    position: absolute;

}


.ladybug{
    z-index: 1;
    position: absolute;
   	animation: movebug 50s ease-out infinite alternate, scale 20s;

}


.bee{
	 z-index: 2;
    position: absolute;
}


.beeleftarm{
	z-index: 1;
    position: absolute;
    animation: wing-l .6s ease-out infinite alternate;
}


.beerightarm{
	 z-index: 1;
    position: absolute;
    animation: wing .5s ease-out infinite alternate;

}


@keyframes wing{
	from{transform: rotateX(0deg);}
	to{transform: rotateY(-10deg) rotateX(-10deg); }
}

@keyframes wing-l{
	from{transform: rotateX(0deg);}
	to{transform: rotateY(10deg) rotateX(10deg); }
}



@keyframes movebug {
    0% {
        transform: translateY(120px);
    }


    25% {
        transform:  translateY(-20px) rotateY(.2deg);
       
    }

    50% {
        transform: translateX(30px)rotateX(-.4deg);
       
    }

    75% {
        transform: translateY(10px)rotate(-0.1turn);
       
    }

    100% {
        transform: translateY(10px);
    }
}



@keyframes bodyform {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(20deg);
    }

    100% {
        transform: rotateY(0);
    }
}


@keyframes flap-l {
    0% {
        transform: rotateY(00);
    }

    50% {
        transform: rotateY(-40deg) translateX(5px) ;

    }

    100% {
        transform: rotateY(0);
    }
}

@keyframes flap-r {
    0% {
        transform: rotateY(00);
    }

    50% {
        transform: rotateY(-30deg) translateX(5px);
       
    }

    100% {
        transform: rotateY(0);
    }
}



.sanse{
	height: 500px;
	width: 500px;
	background: transparent;
	

}


.sanse-bg{
    position: absolute;
    z-index: 1;

}

.sanse-leaf{
    position: absolute;
    z-index: 2;
      animation: leaf-fall 8s ease-out infinite, fadeout 8s infinite;

}
.sanse-leaf1{
    position: absolute;
    z-index: 2;
      animation: leaf-fall1 9s ease-out infinite,fadeout 9s infinite;

}
.sanse-leaf2{
    position: absolute;
    z-index: 2;
      animation: leaf-fall2 12s ease-out infinite,fadeout 12s infinite;

}
.sanse-leaf3{
    position: absolute;
    z-index: 2;
      animation: leaf-fall3 10s ease-out infinite, fadeout 10s infinite;
}

.sanse-clouds{
    position: absolute;
    z-index: 2;
    animation: float 6s ease-out infinite alternate;
}


@keyframes leaf-fall{
	from{transform:translateY(-160px)translateX(0px) rotateX(50deg);}
	to{transform:translateY(20px)translateX(50px) rotateX(60deg);}
}

@keyframes leaf-fall1{
	from{transform:translateY(-60px)  translateX(0px) rotateX(30deg);}
	to{transform:translateY(250px)  translateX(50px) rotateX(60deg);}
}

@keyframes leaf-fall2{
	from{transform:translateY(-100px) translateX(0px) rotateX(50deg);}
	to{transform:translateY(180px)translateX(-50px) rotateX(60deg);}
}

@keyframes leaf-fall3{
	from{transform:translateY(-70px) translateX(0px) rotateX(20deg);}
	to{transform:translateY(170px)translateX(-50px) rotateX(60deg);}
}

@keyframes float{
	from{transform:translateX(-30px)}
	to{transform:translateX(px)translateX(40px)}
}

@keyframes fadeout{
  0%   { opacity: 0; }
  40%  { opacity: 1; }
  99%  { opacity: 1; }
  100% { opacity: 0; }
}







phone{
    position: absolute;
    z-index: 1;

}

.phone-pin{
    position: absolute;
    z-index: 2;
    animation:jump 2s ease infinite backwards;


}


.phone-clouds{
    position: absolute;
    z-index: -1;
    animation: float 6s ease-out infinite alternate;


}



@keyframes jump{
	0% {
	transform: translateY(0px);
	animation-timing-function: ease-out;
	}

	50% {
	transform: translateY(-50px);
	animation-timing-function: ease-in;
}


	100% {
	transform: translateY(0px);

	}
}




